/mavenproject1/target/
/mavenproject2/target/
/FinalQuiz/target/
/mb/target/
/FinallQuiz/target/
/JavaApplication2/nbproject/private/
/QuizAppFinal/target/
/unamepass/nbproject/private/
/unamepass/build/
/JavaApplication4/nbproject/private/
/quizweb/nbproject/private/
/quizweb/build/
/loginreg/target/
/Registeration/nbproject/private/
/Registeration/build/
/quizweb/dist/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/TechBlog/nbproject/private/
/TechBlog/build/
/Blog/target/
/copyquiz/target/
/queaseapp/target/
/TechBlog/dist/
QuizWebApp
